$bg-color: #b7d4a8;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: bold 20px 'Courier';
}

#main {
  width: 360px;
  height: 420px;
  background-color: $bg-color;
  margin: 100px auto;
  border: 10px solid #000;
  border-radius: 40px;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;

  #stage{
    position: relative;
    width: 304px;
    height: 304px;
    border: 2px solid #000;

    #snake {
      &>div {
        position: absolute;
        width: 10px;
        height: 10px;
        background-color: #000;
        border: 1px solid $bg-color;
      }
    }

    #food {
      position: absolute;
      width: 10px;
      height: 10px;
      left: 100px;
      top: 200px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-content: space-between;

      &>div {
        width: 4px;
        height: 4px;
        background-color: #000;
        transform: rotate(45deg);
      }
    }
  }

  #score-panel {
    width: 300px;
    display: flex;
    justify-content: space-between;
  }
}
